body {
    background-image: url("./pexels-arthousestudio-4631026\ \(1\).jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.boton {
    font-size: 15px;
    color: rgb(27, 24, 24);
    border-radius: 20px;
    background-color: #72bde0;
    margin: 15px;
    padding: 10px 30px;
    border: 2px solid #e7ebec;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.4s;
    float: right; /* Agregar esta línea */
}

header {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-size: 40px;
    color: rgb(245, 241, 237);
    text-shadow: 3px 3px rgb(46, 49, 48);
    text-align: left;
}

h3 {
    font-size: 20px;
    margin-top: -60px; /* Puedes ajustar este valor según sea necesario */
    
}

/* a {
    text-align: right;
} */


/* Socialmedia Icons */

.contenedor1 {
    margin: 0%;
    position: absolute;
    top:5%;
    left: 84%;
    transform: translate(50%, -50%);
}

i {
font-size: 25px;
color: rgb(234, 234, 243);
margin: 15px;
border-radius: 50%;
box-shadow: 0 0 15px rgb(4, 88, 184), 
                0 0 45px rgb(4, 72, 117),
                0 0 75px rgb(5, 78, 128),
                0 0 115px rgb(6, 76, 122);
}

